<ul class="navbar-nav">
    <span class="navbar-text">Hello, @User.Claims.First(c => c.Type == "name").Value!</span>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Sign out</a>
    </li>
</ul>
</ul>