@model OpsSecProject.ViewModels.ErrorViewModel
@{
    Layout = "_ExternalLayout";
    ViewData["Title"] = "Error";
}
<h1 class="h3 mb-3 font-weight-normal text-danger text-center">Error</h1>
<h5 class="h5 mb-3 font-weight-normal">An error occurred while processing your request</h5>
<a class="btn btn-lg btn-primary btn-block" href="javascript:history.go(-1)">Return to previous page</a>
@if (Model.ShowRequestId)
{
    <p class="mt-5 mb-3 text-muted">
        <strong>Request ID: @Model.RequestId</strong>
    </p>
}
@if (Model.ShowStatusCode)
{
    <p class="mt-5 mb-3 text-muted">
        @if (Model.ErrorStatusCodeMessage.ContainsKey(Model.ErrorStatusCode))
        {
            <strong>Error Message: @Model.ErrorStatusCodeMessage[Model.ErrorStatusCode]</strong>
        }
        @if (!Model.ErrorStatusCodeMessage.ContainsKey(Model.ErrorStatusCode))
        {
            <strong>HTTP Error Status Code: @Model.ErrorStatusCode</strong>
        }
    </p>
}
@if (Model.ShowOriginalPath)
{
    <p class="mt-5 mb-3 text-muted">
        <strong>Requested Page: @Model.OriginalPath</strong>
    </p>
}
<p class="mt-5 mb-3 text-muted">&copy; 2020 - SmartInsights</p>
@section Scripts {
    <script>
        if (Particles.options == null) {
            Particles.init({
                selector: '.background',
                color: '#75A5B7',
                maxParticles: 130,
                connectParticles: true,
                responsive: [
                    {
                        breakpoint: 768,
                        options: {
                            maxParticles: 80
                        }
                    }, {
                        breakpoint: 375,
                        options: {
                            maxParticles: 50
                        }
                    }
                ]
            });
        }
    </script>
}