@model ErrorViewModel
@{
    Layout = "_ExternalLayout";
    ViewData["Title"] = "Error";
}

<h1 class="h3 mb-3 font-weight-normal text-danger">Error</h1>
<h4 class="h3 mb-3 font-weight-normal">An error occurred while processing your request</h4>
<a class="btn btn-lg btn-primary btn-block" href="javascript:history.go(-1)">Return to previous page</a>
@if (Model.ShowRequestId)
{
    <p class="mt-5 mb-3 text-muted">
        <strong>Request ID: @Model.RequestId</strong>
    </p>
}
@if (Model.ShowStatusCode)
{
    <p class="mt-5 mb-3 text-muted">
        @if (Model.ErrorStatusCodeMessage.ContainsKey(Model.ErrorStatusCode))
        {
            <strong>Error Message: @Model.ErrorStatusCodeMessage[Model.ErrorStatusCode]</strong>
        }
        @if (!Model.ErrorStatusCodeMessage.ContainsKey(Model.ErrorStatusCode))
        {
            <strong>HTTP Error Status Code: @Model.ErrorStatusCode</strong>
        }
    </p>
}
@if (Model.ShowOriginalPath)
{
    <p class="mt-5 mb-3 text-muted">
        <strong>Requested Page: @Model.OriginalPath</strong>
    </p>
}
<p class="mt-5 mb-3 text-muted">&copy; 2020 - SmartInsights</p>