@model IEnumerable<OpsSecProject.Models.Activity>
    @{
        ViewData["Title"] = "Account Activity";
    }
    <h1 class="h3 mb-2 text-gray-800">Your Account</h1>
    <p class="mb-4"></p>

    <div class="card shadow mb-4">
        @await Html.PartialAsync("ActivityPartial",Model)
    </div>
    <div class="container">
        <div class="text-center">
            <img class="img-fluid mt-3 mb-4" src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/developer_activity_bv83.svg" style="max-width: 50%; max-height: 50%;">
        </div>
    </div>
    @section scripts {
        <script>
            $(document).ready(function () {
                $('#activtiesTable').DataTable();
            });
        </script>
    }
