@model OpsSecProject.Models.User;
@{
    ViewData["Title"] = "Account";
}
@if (!String.IsNullOrEmpty(Convert.ToString(TempData["Alert"])) && TempData["Alert"].Equals("Warning") && !String.IsNullOrEmpty(Convert.ToString(TempData["Message"])))
{
    <div class="form-label-group">
        <div class="alert alert-warning" role="alert">
            @TempData["Message"]
        </div>

    </div>
}
@if (!String.IsNullOrEmpty(Convert.ToString(TempData["Alert"])) && TempData["Alert"].Equals("Danger") && !String.IsNullOrEmpty(Convert.ToString(TempData["Message"])))
{
    <div class="form-label-group">
        <div class="alert alert-danger" role="alert">
            @TempData["Message"]
        </div>

    </div>
}
@if (!String.IsNullOrEmpty(Convert.ToString(TempData["Alert"])) && TempData["Alert"].Equals("Success") && !String.IsNullOrEmpty(Convert.ToString(TempData["Message"])))
{
    <div class="form-label-group">
        <div class="alert alert-success" role="alert">
            @TempData["Message"]
        </div>

    </div>
}
<h1 class="h3 mb-2 text-gray-800">Your Account</h1>
<p class="mb-4"></p>

<div class="row">
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            @await Html.PartialAsync("ProfilePartial", Model)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            @await Html.PartialAsync("SettingsPartial")
        </div>
    </div>
</div>
<div class="card shadow mb-4">
    @await Html.PartialAsync("ActivityPartial")
</div>