@model OpsSecProject.Models.Settings
<div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Settings</h6>
</div>
<div class="card-body">
    <form asp-action="Settings" class="needs-validation" novalidate>
        <div class="form-group">
            <div class="custom-control custom-switch">
                <input asp-for="Always2FA" type="checkbox" class="custom-control-input">
                <label asp-for="Always2FA" class="custom-control-label">Enforce 2FA for all Logins (Applies to internal logins only)</label>
            </div>
        </div>
        <div class="form-group">
            <h6 class="mb-3">Preferred Communication Option:</h6>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" asp-for="CommmuicationOptions" value="@CommmuicationOptions.EMAIL" id="CommOptionsEmail" class="custom-control-input" required>
                <label class="custom-control-label" for="CommOptionsEmail">Email</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" asp-for="CommmuicationOptions" value="@CommmuicationOptions.SMS" id="CommOptionsSMS" class="custom-control-input" required>
                <label class="custom-control-label" for="CommOptionsSMS">SMS</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary formBtnSubmit">Save Settings</button>
    </form>
</div>