@{
    ViewData["Title"] = "Account Settings";
}
<h1 class="h3 mb-2 text-gray-800">Your Account</h1>
<p class="mb-4"></p>

<div class="card shadow mb-4">
    @await Html.PartialAsync("SettingsPartial")
</div>