@{
    ViewData["Title"] = "Access Denied";
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-danger">Access Denied</h6>
    </div>
    <div class="card-body">
        <h5 class="h5 text-center">You don't have currently have access to this function!</h5>
        <br />
        <p>If you require access, please contact the administrator to grant access</p>
        <p class="text-muted">Request ID: @ViewData["RequestID"]</p>
        <p class="text-muted">You are currently logged in as @User.FindFirst("preferred_username").Value</p>
    </div>
</div>