@{
    ViewData["Title"] = "Write Data to a File";
    
}
    <h1>Write Data to a File</h1>


    <form id="form1" method="post">
        <div>
            <table>
                <tr>
                    <td>File Path:</td>
                    <td><input id="FilePath" name="FilePath" type="text" /></td>
                    <td><input type="submit" value="Submit" /></td>
                </tr>    
            </table>
        </div>
    </form>
@section Scripts {
<script>         
</script>
        }
