@model OpsSecProject.Areas.Internal.Models.ChangePasswordFormModel
@{
    Layout = null;
    ViewData["Title"] = "Change Password";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SmartInsights</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            width: 100%;
            max-width: 420px;
            padding: 15px;
            margin: auto;
        }

        .form-label-group {
            position: relative;
            margin-bottom: 1rem;
        }

            .form-label-group > input,
            .form-label-group > label {
                height: 3.125rem;
                padding: .75rem;
            }

            .form-label-group > label {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                margin-bottom: 0; /* Override default `<label>` margin */
                line-height: 1.5;
                color: #495057;
                pointer-events: none;
                cursor: text; /* Match the input under the label */
                border: 1px solid transparent;
                border-radius: .25rem;
                transition: all .1s ease-in-out;
            }

            .form-label-group input::-webkit-input-placeholder {
                color: transparent;
            }

            .form-label-group input:-ms-input-placeholder {
                color: transparent;
            }

            .form-label-group input::-ms-input-placeholder {
                color: transparent;
            }

            .form-label-group input::-moz-placeholder {
                color: transparent;
            }

            .form-label-group input::placeholder {
                color: transparent;
            }

            .form-label-group input:not(:placeholder-shown) {
                padding-top: 1.25rem;
                padding-bottom: .25rem;
            }

                .form-label-group input:not(:placeholder-shown) ~ label {
                    padding-top: .25rem;
                    padding-bottom: .25rem;
                    font-size: 12px;
                    color: #777;
                }
    </style>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body class="text-center">
    <form class="form-signin needs-validation" asp-action="ChangePassword" novalidate>
        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Change Password</h1>
            <p>Please enter your current and new passwords</p>
        </div>
        @if (!String.IsNullOrEmpty(Convert.ToString(ViewData["Alert"])) && ViewData["Alert"].Equals("Warning") && !String.IsNullOrEmpty(Convert.ToString(ViewData["Message"])))
        {
            <div class="form-label-group">
                <div class="alert alert-warning" role="alert">
                    @ViewData["Message"]
                </div>

            </div>
        }
        @if (!String.IsNullOrEmpty(Convert.ToString(ViewData["Alert"])) && ViewData["Alert"].Equals("Danger") && !String.IsNullOrEmpty(Convert.ToString(ViewData["Message"])))
        {
            <div class="form-label-group">
                <div class="alert alert-danger" role="alert">
                    @ViewData["Message"]
                </div>

            </div>
        }
        <div class="form-label-group">
            <input asp-for="CurrentPassword" class="form-control" placeholder="Current Password" required />
            <label asp-for="CurrentPassword">Current Password</label>
            <div class="invalid-feedback">
                Please enter your current password
            </div>
        </div>
        <div class="form-label-group">
            <input asp-for="NewPassword" class="form-control" placeholder="New Password" required />
            <label asp-for="NewPassword">New Password</label>
            <div class="invalid-feedback">
                Please enter your new password
            </div>
        </div>
        <div class="form-label-group">
            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm New Password" required />
            <label asp-for="ConfirmPassword">Confirm New Password</label>
            <div class="invalid-feedback">
                Please confirm your new password
            </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block g-recaptcha" data-sitekey="@System.Environment.GetEnvironmentVariable("RECAPTCHAV2_SITE_KEY")" data-callback='reCaptchaV2Callback' type="submit" id="formBtnSubmit">Change Password</button>
        <div class="text-center mb-4">
            <hr>
        </div>
        <a class="btn btn-lg btn-secondary btn-block" asp-area="" asp-controller="Account" asp-action="Index">Cancel</a>
        <p class="mt-5 mb-3 text-muted">&copy; 2020 - SmartInsights</p>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            crossorigin="anonymous"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"
            integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
</body>
</html>