@model OpsSecProject.Areas.Internal.Models.ChangePasswordFormModel
@{
    ViewData["Title"] = "Change Password";
}
@section Recaptcha {
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
}
<form class="form-signin needs-validation" asp-action="ChangePassword" novalidate>
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Change Password</h1>
        <p>Please enter your current and new passwords</p>
    </div>
    @if (!String.IsNullOrEmpty(Convert.ToString(ViewData["Alert"])) && ViewData["Alert"].Equals("Warning") && !String.IsNullOrEmpty(Convert.ToString(ViewData["Message"])))
    {
        <div class="form-group">
            <div class="alert alert-warning" role="alert">
                @ViewData["Message"]
            </div>

        </div>
    }
    @if (!String.IsNullOrEmpty(Convert.ToString(ViewData["Alert"])) && ViewData["Alert"].Equals("Danger") && !String.IsNullOrEmpty(Convert.ToString(ViewData["Message"])))
    {
        <div class="form-group">
            <div class="alert alert-danger" role="alert">
                @ViewData["Message"]
            </div>

        </div>
    }
    <div class="form-group">
        <input asp-for="CurrentPassword" class="form-control" placeholder="Current Password" required />
        <div class="invalid-feedback">
            Please enter your current password
        </div>
    </div>
    <div class="form-group">
        <input asp-for="NewPassword" class="form-control" placeholder="New Password" required />
        <div class="invalid-feedback">
            Please enter your new password
        </div>
    </div>
    <div class="form-group">
        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm New Password" required />
        <div class="invalid-feedback">
            Please confirm your new password
        </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block g-recaptcha" data-sitekey="@System.Environment.GetEnvironmentVariable("RECAPTCHAV2_SITE_KEY")" data-callback='reCaptchaV2Callback' type="submit" id="formBtnSubmit">Change Password</button>
    <div class="text-center mb-4">
        <hr>
    </div>
    <a class="btn btn-lg btn-secondary btn-block" asp-area="" asp-controller="Account" asp-action="Index">Cancel</a>
    <p class="mt-5 mb-3 text-muted">&copy; 2020 - SmartInsights</p>
</form>