@model OpsSecProject.Areas.Internal.Models.EmailAddressFormModel
@{
    ViewData["Title"] = "Change Email Address";
}
<form class="form-signin needs-validation" asp-action="EmailAddress" novalidate>
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Change Email Address</h1>
        <p>Please enter new email address and current password</p>
    </div>
    @if (!String.IsNullOrEmpty(Convert.ToString(ViewData["Alert"])) && ViewData["Alert"].Equals("Warning") && !String.IsNullOrEmpty(Convert.ToString(ViewData["Message"])))
    {
        <div class="form-group">
            <div class="alert alert-warning" role="alert">
                @ViewData["Message"]
            </div>

        </div>
    }
    @if (!String.IsNullOrEmpty(Convert.ToString(ViewData["Alert"])) && ViewData["Alert"].Equals("Danger") && !String.IsNullOrEmpty(Convert.ToString(ViewData["Message"])))
    {
        <div class="form-group">
            <div class="alert alert-danger" role="alert">
                @ViewData["Message"]
            </div>

        </div>
    }
    <div class="form-group">
        <input asp-for="EmailAddress" class="form-control form-control-user" placeholder="New Email Address" required />
        <div class="invalid-feedback">
            Please enter your new email address
        </div>
    </div>
    <div class="form-group">
        <input asp-for="Password" class="form-control form-control-user" placeholder="Password" required />
        <div class="invalid-feedback">
            Please enter your password
        </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block g-recaptcha" data-sitekey="@System.Environment.GetEnvironmentVariable("RECAPTCHAV2_SITE_KEY")" data-callback='reCaptchaCallback' type="submit" id="formBtnSubmit">Change Email Address</button>
    <div class="text-center mb-4">
        <hr>
    </div>
    <a class="btn btn-lg btn-secondary btn-block" asp-area="" asp-controller="Account" asp-action="Index">Cancel</a>
    <p class="mt-5 mb-3 text-muted">&copy; 2020 - SmartInsights</p>
</form>