@model OpsSecProject.Areas.Internal.Models.PhoneNumberFormModel
@{
    ViewData["Title"] = "Change Phone Number";
}
<form class="form-signin needs-validation" asp-action="PhoneNumber" novalidate>
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Change Phone Number</h1>
        <p>Please enter your new phone number and current password</p>
    </div>
    @if (!String.IsNullOrEmpty(Convert.ToString(ViewData["Alert"])) && ViewData["Alert"].Equals("Warning") && !String.IsNullOrEmpty(Convert.ToString(ViewData["Message"])))
    {
        <div class="form-group">
            <div class="alert alert-warning" role="alert">
                @ViewData["Message"]
            </div>

        </div>
    }
    @if (!String.IsNullOrEmpty(Convert.ToString(ViewData["Alert"])) && ViewData["Alert"].Equals("Danger") && !String.IsNullOrEmpty(Convert.ToString(ViewData["Message"])))
    {
        <div class="form-group">
            <div class="alert alert-danger" role="alert">
                @ViewData["Message"]
            </div>

        </div>
    }
    <div class="form-group">
        <input asp-for="PhoneNumber" class="form-control form-control-user" placeholder="New Phone Number" pattern="[0-9]{8}" required />
        <div class="invalid-feedback">
            Please enter your new phone number
        </div>
    </div>
    <div class="form-group">
        <input asp-for="Password" class="form-control form-control-user" placeholder="Password" required />
        <div class="invalid-feedback">
            Please enter your password
        </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block g-recaptcha formBtnSubmit" data-sitekey="@System.Environment.GetEnvironmentVariable("RECAPTCHAV2_SITE_KEY")" data-callback='reCaptchaCallback' type="submit">Change Phone Number</button>
    <div class="text-center mb-4">
        <hr>
    </div>
    <a class="btn btn-lg btn-secondary btn-block" asp-area="" asp-controller="Account" asp-action="Index">Cancel</a>
    <p class="mt-5 mb-3 text-muted">&copy; 2020 - SmartInsights</p>
</form>