@{
    ViewData["Title"] = "Set Successfully";
}
<h1 class="h3 mb-3 font-weight-normal">Success</h1>
@if (!String.IsNullOrEmpty(Convert.ToString(TempData["Field"])))
{
    <div class="form-group">
        <div class="alert alert-success" role="alert">
            Your @TempData["Field"] has been changed successfully!
        </div>

    </div>
}
<a class="btn btn-lg btn-primary btn-block" asp-area="" asp-controller="Landing" asp-action="Index">Go Back</a>
<p class="mt-5 mb-3 text-muted">&copy; 2020 - SmartInsights</p>