@model OpsSecProject.Areas.Internal.Models.TwoFactorVerifyFormModel
@{
    ViewData["Title"] = "2 Factor Authentication";
}
<form class="form-signin needs-validation" asp-action="Verify2ndFactor" novalidate>
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Verify Your Identity</h1>
        <p>Enter the verification code sent via SMS to verify your identity</p>
    </div>
    @if (!String.IsNullOrEmpty(Convert.ToString(ViewData["Alert"])) && ViewData["Alert"].Equals("Warning") && !String.IsNullOrEmpty(Convert.ToString(ViewData["Message"])))
    {
        <div class="form-group">
            <div class="alert alert-warning" role="alert">
                @ViewData["Message"]
            </div>

        </div>
    }
    @if (!String.IsNullOrEmpty(Convert.ToString(ViewData["Alert"])) && ViewData["Alert"].Equals("Danger") && !String.IsNullOrEmpty(Convert.ToString(ViewData["Message"])))
    {
        <div class="form-group">
            <div class="alert alert-danger" role="alert">
                @ViewData["Message"]
            </div>

        </div>
    }
    <div class="form-group">
        <input asp-for="ReturnUrl" type="hidden" />
    </div>
    <div class="form-group">
        <input asp-for="Code" class="form-control form-control-user" placeholder="Verification Code" required />
        <div class="invalid-feedback">
            Please enter your verification code
        </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block g-recaptcha" data-sitekey="@System.Environment.GetEnvironmentVariable("RECAPTCHAV2_SITE_KEY")" data-callback='reCaptchaCallback' type="submit" id="formBtnSubmit">Send Password Reset Request</button>
    <div class="text-center mb-4">
        <hr>
    </div>
    <a class="btn btn-lg btn-secondary btn-block" asp-area="" asp-controller="Landing" asp-action="RealmDiscovery" asp-route-ReturnUrl="@ViewData["ReturnURL"]">Return back to Login</a>
    <p class="mt-5 mb-3 text-muted">&copy; 2020 - SmartInsights</p>
</form>