@{
    ViewData["Title"] = "Search Results";
}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Search Results</h1>
<p class="mb-4">Below are the search results generated from the query.</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Audit Logs</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Timestamp</th>
                        <th>Event</th>
                        <th>Log Input Name</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Timestamp</th>
                        <th>Event</th>
                        <th>Log Input Name</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>03 DEC 2019 17:01:53</td>
                        <td>127.0.0.1 - frank [10/Oct/2000:13:55:36 -0700] "GET /apache_pb.gif HTTP/1.0" 200 2326 "http://www.example.com/start.html" "Mozilla/4.08 [en] (Win98; I ;Nav)"</td>
                        <td>Server 2</td>
                    </tr>
                    <tr>
                        <td>03 DEC 2019 17:09:47</td>
                        <td>127.0.0.1 - frank [10/Oct/2000:13:55:36 -0700] "GET /apache_pb.gif HTTP/1.0" 200 2326 "http://www.example.com/start.html" "Mozilla/4.08 [en] (Win98; I ;Nav)"</td>
                        <td>Server 3</td>
                    </tr>
                    <tr>
                        <td>03 DEC 2019 17:49:13</td>
                        <td>127.0.0.1 - frank [10/Oct/2000:13:55:36 -0700] "GET /apache_pb.gif HTTP/1.0" 200 2326 "http://www.example.com/start.html" "Mozilla/4.08 [en] (Win98; I ;Nav)"</td>
                        <td>Server 1</td>
                    </tr>
                    <tr>
                        <td>04 DEC 2019 20:08:46</td>
                        <td>127.0.0.1 - frank [10/Oct/2000:13:55:36 -0700] "GET /apache_pb.gif HTTP/1.0" 200 2326 "http://www.example.com/start.html" "Mozilla/4.08 [en] (Win98; I ;Nav)"</td>
                        <td>Server 2</td>
                    </tr>
                    <tr>
                        <td>05 DEC 2019 20:09:20</td>
                        <td>127.0.0.1 - frank [10/Oct/2000:13:55:36 -0700] "GET /apache_pb.gif HTTP/1.0" 200 2326 "http://www.example.com/start.html" "Mozilla/4.08 [en] (Win98; I ;Nav)"</td>
                        <td>Server 1</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
}