@{
    Layout = "_ExternalLayout";
    ViewData["Title"] = "Signed Out";
}
<h1 class="h3 mb-3 font-weight-normal">You have signed-out succesfully</h1>
<a class="btn btn-lg btn-primary btn-block" asp-action="RealmDiscovery">Go back to login page</a>
<p class="mt-5 mb-3 text-muted">&copy; 2020 - SmartInsights</p>