@{
    Layout = "_ExternalLayout";
    ViewData["Title"] = "SSO Failed";
}
<h1 class="h3 mb-3 font-weight-normal text-danger text-center">Your Single-Sign-On was not successful</h1>
<a class="btn btn-lg btn-primary btn-block" asp-action="Reauthenticate">Try again</a>
<p class="mt-5 mb-3 text-muted">&copy; 2020 - SmartInsights</p>