@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="text-center">
        <img class="img-fluid mt-3 mb-4" src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/programmer_imem.svg" style="max-width: 50%; max-height: 50%;">
        <h3>Start searching or explore around!</h3>
    </div>
</div>