@model OpsSecProject.ViewModels.QuestionableEventReviewViewModel
@{
    ViewData["Title"] = "Review Event";
}
<h1 class="h3 mb-2 text-gray-800">Review Event</h1>
<p class="mb-4">Please determine if this event was initiated by you</p>
@await Html.PartialAsync("EventPartial")
<div class="container">
    <div class="text-center">
        <a class="btn btn-success" asp-action="Accept" asp-route-EventID="@Model.ReviewEvent.ID" style="float: left;">Yes, this is me</a>
        <a class="btn btn-danger" asp-action="Reject" asp-route-EventID="@Model.ReviewEvent.ID" style="float: right;">No, this is not me</a>
    </div>
</div>
@section scripts {
    <script>
        function Handler(event) {
            var pointer = {lat: -@(Model.SupplmentaryInformation.Latitude), lng: @(Model.SupplmentaryInformation.Longitude)};
            var map = new google.maps.Map(document.getElementById('EventCardGMaps'), {
                center: pointer,
                zoom: 10,
                disableDefaultUI: true
            });
            var marker = new google.maps.Marker({position: pointer, map: map});
        }
        (function () {
            'use strict';
            if (Turbolinks.supported) {
                document.addEventListener('turbolinks:load', Handler, false);
            } else {
                $(document).ready(Handler);
            }
        })();
    </script>
}