@{
    ViewData["Title"] = "Add New Log Input";

}
<h1 align="center">New Log Input</h1>

<form asp-action="Create">
    <div>
        <table align="center" style="margin-top:75px">
            <tr>
                <td>File Path:</td>
                <td><input id="FilePath" name="FilePath" type="text" class="form-control bg-light small" /></td>
                @{
                    List<SelectListItem> listItems = new List<SelectListItem>();
                    listItems.Add(new SelectListItem
                    {
                        Text = "Windows Event Logs",
                        Value = "WindowsEventLogs",
                        Selected = true
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "Apache",
                        Value = "ApacheWebServer"
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "SSH",
                        Value = "SSH"
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "Proxy Server",
                        Value = "SquidProxy"
                    });
                }
            </tr>

            <tr>
                <td>Log Input:</td>
                <td>@Html.DropDownList("LogInputCategory", listItems, "LogInputCategory" ,new { @class = "form-control" })</td>
            </tr>

            <tr>
                @{
                    List<SelectListItem> listItems2 = new List<SelectListItem>();
                    listItems2.Add(new SelectListItem
                    {
                        Text = "Application",
                        Value = "Application",
                        Selected = true
                    });
                    listItems2.Add(new SelectListItem
                    {
                        Text = "System",
                        Value = "System"
                    });
                    listItems2.Add(new SelectListItem
                    {
                        Text = "Security",
                        Value = "Security"
                    });
                }
                <td>Types of Log:</td>
                <td>@Html.DropDownList("LogType", listItems2,"LogType" ,new { @class = "form-control" })</td>
            </tr>

            <tr>
                <td>Name of Log Input:</td>
                <td><input id="Name" name="Name" type="text" class="form-control bg-light small" /></td>
            </tr>

            <tr>
                <td>Filter:</td>
                <td><input id="Filter" name="Filter" type="text" class="form-control bg-light small" /></td>
            </tr>

            <tr>
                <td><input type="submit" value="Submit" placeholder="*.log" class="btn btn-primary" /></td>
            </tr>
        </table>
    </div>
</form>
