@{
    ViewData["Title"] = "Manage Log Inputs";

}
<div>
    <table align="center" style="margin-top:75px">
        <tr>
            <td>
                <textarea id="TextArea1" rows="10" cols="100">
                    @TempData["qwerty"]
                </textarea>      
            </td>
        </tr>
    </table>
</div>